<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DataStructAndAlgorithm</key>
	<dict>
		<key>detail</key>
		<string>Data Struct And Algorithm</string>
		<key>URL</key>
		<string>http://users.cis.fiu.edu/~weiss/dsaa_c2e/files.html</string>
		<key>bundle</key>
		<dict>
			<key>URL</key>
			<string>http://users.cis.fiu.edu/~weiss/dsaa_c2e/DSAAC2eCode.tar</string>
			<key>detail</key>
			<string>DataStructAndAlgorithm</string>
			<key>file_name</key>
			<string>DataStructAndAlgorithm</string>
			<key>name</key>
			<string>DataStructAndAlgorithm</string>
		</dict>
	</dict>
	<key>version</key>
	<string>b1</string>
</dict>
</plist>
